@import "compass_twitter_bootstrap";

body{
	height: 100%;
	position: absolute;
	width: 100%;
}

.content{
	padding: 1em;
}



#iscroll{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.loading-indicator{
	padding: 0.5em;
	background: rgba(0,0,0,0.5);
	color: #fff;
}
.ui-wrapper{
	padding: 1em;
}

.ui-wrapper-a{
	padding: 0.5em;
}


.modal { 
	position: fixed; 
	top: 5%; 
	right: 3%;
	bottom: 5%; 
	left: 3%; 
	width: auto; 
	margin: 0; 
}
.modal-body { 
	text-align: center;
}

#tweets_container{
	color: #fff;

	ul {
		margin: 0;
		list-style: none;

		li{
			color: #ccc;
			border-bottom: 1px solid #000;
			border-top: 1px solid #444;
			padding: 1em 0;
			text-shadow: 1px 1px 1px #000;

			a{
				color: #ffff00;

				&:hover{
					cursor: pointer
				}
			}

			.thumbnail{
				float: left;
			}

			.data{
				margin-left: 75px;
			}
		}
	}
}