div(class="label loading-indicator")
	div(class="wrapper clearfix")
		i(class="icon-refresh icon-white spinner pull-left")
		div(class="text pull-left") #{label}
		div(class="btn btn-link close-indicator pull-right")